/* CSS Document */

.y_gcss_ovrtr_au {
	width: 0px;
	height: 0px;
	border:0px;
	visibility: none; 
}


/*
     FILE ARCHIVED ON 13:53:27 Apr 03, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:01:16 Jan 30, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.806
  exclusion.robots: 0.024
  exclusion.robots.policy: 0.01
  esindex: 0.015
  cdx.remote: 26.667
  LoadShardBlock: 520.957 (6)
  PetaboxLoader3.datanode: 526.801 (8)
  PetaboxLoader3.resolve: 124.628 (3)
  load_resource: 198.069 (2)
*/